# uv
.venv
.python-version
.ruff_cache
.pytest_cache
__pycache__
*.py[cod]
dist
build
**/_ext*.so
**/_ext*.pyd
**/_ext*.dll
**/_ext*.dylib
**/_ext.pyi

# ly's choice
references

# preferences
/.vscode
/.zed

# os-related
.DS_Store
